html {
  width: 100%;
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0px;
}

ul {
  padding-left: 0px;
  margin-top: 0px;
  z-index: 100;
  width: 100%;
}
li {
  border-bottom: 1px solid #9ec4e7;
  padding: 0.2em;
  list-style-type: none;
  background: rgb(39, 116, 174);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 30px;
  height: 65px;
  width: 100%;
}

.listIcon img {
  border: 1px solid white;
  height: 30px;
  width: 30px;
  margin: 15px;
}

.listButton {
  width: 100%;
}

.subMenuArrow {
  border: 1px solid white;
  /* width: 65px; */
  /* height: 70px; */
  /* position: absolute; */
  /* right: 0px; */
  /* padding-right: 0px;  */
  /* margin-left: ; */
  display: inline-block;
  /* top: 0px; */
}
.subMenuArrow:hover{
  background: rgba(0,0,0,0.2)
}

.menu-normal {
  transform: translateX(-105%);
  transition: transform 0.4s ease-in-out;
}

.menu-normal.open {
  transform: translateX(0);
  width: 100%;
  animation: fadein 2s;
}

.menu-tier-one-normal {
  transform: translateX(+1200px);
  transition: transform 0.4s ease-in-out;
  position: absolute;
  top: 0px;
}

.menu-tier-one-normal.open {
  transform: translateX(15%);
  position: absolute;
  width: 87%;
  top: 0px;
}



/* .listButton a {
  position: absolute;
  right: 5px;
  z-index: 0;
} */

/* .tierOneArrow a {
  position: absolute;
  right: 5px;
} */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
