@media screen and (min-width: 950px) {
  #root {
    overflow: -webkit-paged-x;
    overflow-x: auto;
    overflow-y: -webkit-paged-x;
  }
  html {
    width: 100%;
    /* background: url('../../assets/beach.jpeg'); */
    /* height: 100vh;
    background-size: cover; */
  }

  body {
    width: 100%;
    margin: 0px;
  }

  ul {
    padding-left: 0px;
    margin-top: 48px;
    margin-bottom: 0px;
    width: 40%;
    position: fixed;
    right: 0px;
    border-left: 1px solid #9ec4e7;
    border-top: 1px solid #9ec4e7;
  }

  .mainUl {
    padding-bottom: 3em;
  }

  .mainMenuList {
    width: 100%;
    border-bottom: 1px solid #9ec4e7;
    list-style-type: none;
    background: #2774ae;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 81px;
    line-height: 81px;
  }

  .listIconImg {
    border: 1px solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 2.5em;
    width: 2.5em;
    font-size: 14px;
    margin: 5px;
    margin-right: 20px;
    line-height: 2.5em;
  }

  .listIconButton {
    border: none;
    background: #2774ae;
    height: 78px;
    width: 78px;
    margin-right: 1.5em;
    outline: none;
    font-size: 1vw;
  }

  .menuArrow {
    background: #9ec4e7;
    color: white;
    width: 81px;
    height: 81px;
    float: right;
    position: fixed;
    right: 0px;
    outline: none;
    border: none;
  }

  .colorChange {
    background: white;
    color: #2774ae;
    transition: all 0.4s ease;
  }

  .colorChangeImg {
    background: white;
    color: #2774ae;
    border: 1px solid lightgray;
  }

  .menu-normal {
    transform: translateX(+100%);
    transition: transform 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .menu-normal.open {
    transform: translateX(0);
    width: 100%;
    animation: fadein 0.4s;
    display: flex;
    flex-direction: column;
  }

  .sub-menu-normal {
    transform: translateX(+100%);
    transition: transform 0.4s ease-in-out;
    position: absolute;
    top: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .sub-menu-normal.open {
    transform: translateX(65px);
    position: absolute;
    top: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

/* below styles screen when width < 950px */

@media screen and (max-width: 950px) {
  #root {
    overflow: -webkit-paged-x;
    overflow-x: auto;
    overflow-y: -webkit-paged-x;
  }
  html {
    width: 100%;
    /* background: url('../../assets/beach.jpeg'); */
    /* height: 100vh; */
    /* background-size: cover; */
  }

  body {
    width: 100%;
    margin: 0px;
  }

  ul {
    padding-left: 0px;

    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
  }

  .mainUl {
    padding-bottom: 3em;
  }

  .mainMenuList {
    width: 100%;
    border-bottom: 1px solid #9ec4e7;
    background: #2774ae;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style-type: none;
    height: 5em;
    line-height: 5em;
    height: 81px;
  }

  .listIconImg {
    border: 1px solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 2.5em;
    width: 2.5em;
    font-size: 14px;
    margin: 5px;
    margin-right: 20px;
    line-height: 2.5em;
  }

  .listIconButton {
    border: none;
    background: #2774ae;
    height: 5em;
    width: 5em;
    margin-right: 1.5em;
    outline: none;
  }

  .menuArrow {
    background: #9ec4e7;
    color: white;
    width: 81px;
    height: 81px;
    float: right;
    position: fixed;
    right: 0px;
    outline: none;
    border: none;
  }

  .colorChange {
    background: white;
    color: #2774ae;
    transition: all 0.4s ease;
  }

  .colorChangeImg {
    background: white;
    color: #2774ae;
    border: 1px solid lightgray;
  }

  .menu-normal {
    transform: translateX(+100%);
    transition: transform 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .menu-normal.open {
    transform: translateX(0);
    width: 100%;
    animation: fadein 0.4s;
    display: flex;
    flex-direction: column;
  }

  .sub-menu-normal {
    transform: translateX(+100%);
    transition: transform 0.4s ease-in-out;
    position: absolute;
    top: 125px;
    width: 100%;
    height: 737px;
    display: flex;
    flex-direction: column;
  }

  .sub-menu-normal.open {
    transform: translateX(65px);
    position: absolute;
    top: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .fillerMain {
    height: 1000px;
    background: #2774ae;
    padding-top: 0px;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
