.header {
  background: #01426a;
  color: white;
  line-height: 48px;
}

.hamburgerMenu {
  position: absolute;
  right: 1em;
  top: 1.4em;
}

img {
  display: inline-block;
  height: 2em;
  margin-top: 1em;
  margin-left: 1em;
}

.welcomeHeader {
  color: white;
  font-family: 'Kalam', cursive;
  font-size: 1.3em;
  margin-left: 15px;
  position: absolute;
  top: 15px;
}
