.footer {
  background: #01426a;
  bottom: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  height: 3em;
  line-height: 3em;
  position: fixed;
  width: 100%;
}

.footer span {
  margin-left: 1.5em;
}
