@media screen and (min-width: 950px) {
  html {
    width: 100%;
  }

  body {
    width: 100%;
  }

  .subUlMaster {
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    position: absolute;
    right: 0px;
    top: -125px;
    width: 100%;
  }

  .subMenuList {
    background: #2774ae;
    color: white;
    border-bottom: 1px solid #9ec4e7;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 100%;
    list-style-type: none;
    line-height: 65px;
    position: relative;
    width: 100%;
  }

  .subMenuList.colorChangeMenuList {
    background: #539ed8;
  }

  .subMenuList.heading {
    background: #539ed8;
    border-bottom: none;
    display: block;
    height: 81px;
    padding-bottom: 1px;
    text-transform: uppercase;
  }

  .menuNameAtSub {
    line-height: 5em;
    padding-left: 1.5em;
  }

  .subMenuCloseBtn {
    background: #539ed8;
    border: none;
    color: white;
    font-size: 20px;
    outline: none;
    position: absolute;
    right: 4.7em;
    top: 1.4em;
  }

  .subMenuArrow {
    background: #2774ae;
    border: none;
    color: white;
    float: right;
    height: 65px;
    outline: none;
    position: fixed;
    right: 65px;
    width: 7.5em;
  }

  .subMenuArrow.colorChangeSubArrow {
    background: #539ed8;
  }

  .arrowSub {
    transform: rotate(90deg);
    transition: 0.3s ease-in-out;
  }

  .arrowSubUp {
    margin: 25px 12px;
    transform: rotate(-90deg);
    transition: 0.3s ease-in-out;
  }

  .subMenuTitle {
    margin-left: 30px;
  }

  .filler {
    background: #2774ae;
    border-left: 1px solid #9ec4e7;
    height: 100%;
    order: 99;
  }

  .subDropdownMain {
    background: #7fb6e9;
    border-top: 1px solid #9ec4e7;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.75vw;
    display: block;
    padding-left: 50px;
    width: 100%;
  }
}

/* below styles screen when width < 950px */
html {
  width: 100%;
}

body {
  width: 100%;
}

.subMenuList {
  background: #2774ae;
  border-bottom: 1px solid #9ec4e7;
  border-left: 1px solid #9ec4e7;
  color: white;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
  line-height: 65px;
  position: relative;
  width: 100%;
}

.subMenuList.colorChangeMenuList {
  background: #539ed8;
}

.subMenuList.heading {
  background: #539ed8;
  border-bottom: none;
  display: block;
  height: 81px;
  padding-bottom: 1px;
  text-transform: uppercase;
}

.menuNameAtSub {
  line-height: 5em;
  padding-left: 1.5em;
}

.subMenuCloseBtn {
  background: #539ed8;
  border: none;
  color: white;
  font-size: 20px;
  outline: none;
  position: absolute;
  right: 4.7em;
  top: 1.4em;
}

.subMenuArrow {
  background: #2774ae;
  border: none;
  color: white;
  float: right;
  height: 65px;
  outline: none;
  position: fixed;
  right: 65px;
  width: 7.5em;
}

.subMenuArrow.colorChangeSubArrow {
  background: #539ed8;
}

.arrowSub {
  transform: rotate(90deg);
  transition: 0.3s ease-in-out;
}

.arrowSubUp {
  margin: 25px 12px;
  transform: rotate(-90deg);
  transition: 0.3s ease-in-out;
}

.subMenuTitle {
  margin-left: 30px;
}

.filler {
  background: #2774ae;
  border-left: 1px solid #9ec4e7;
  height: 612px;
  order: 99;
}

.subDropdownMain {
  background: #7fb6e9;
  border-top: 1px solid #9ec4e7;
  color: white;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-left: 50px;
  width: 100%;
}

.sub-dropdown-normal {
  display: none;
  height: 0;
  width: 100%;
}

.sub-dropdown-normal.open {
  display: contents;
  height: 100%;
  width: 100%;
}
